

.main-page {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.titles {
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 200px;
}

.main-block {
    width: 60%;
    padding: 80px 20px;
    position: fixed;
}

.left-side {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    margin-left: 46%;
    max-height: 100%;
}

.block1 {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative
}

.kash_image {
    width: 90%;
    height: 80%;
}

.mobile-kash_image {
    max-width: 60%;
    vertical-align: middle;
}

.mobile-dash_image {
    width: 40%;
}

.hours-ipad {
    height: 90%;
    width: 30%;
}

.smaller-device {
    width: 90%;
}

.mobile-smaller-device {
    width: 80%;
}

.screenshot1 {
    width: 90%;
}

.socialmedia {
    display: flex;
}

.socialmedia-item {
    font-size: 10px;
}

.content-block, 
.content-block1, 
.content-block2,
.content-block3,
.content-block4 {
    height: 100%;
    margin-left: 4%;
    padding: 5%;
    margin-bottom: 100px;
    padding: 10%;
}

.content-block {
    background-color: #0984e3;
}

.content-block2 {
    background-color: #55efc4;
}

.content-block3 {
    background-color: #a29bfe;
}

.content-block4 {
    background-color:#55E6C1;
}

a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }

  .white {
    color: paleturquoise;
}

  .white:hover {
      color: cornflowerblue;
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: none;
  }

.cont-multipleimages {
    display: flex;
}

.buttons {
    margin-top: 4%;
}

.text {
    position: absolute;
    opacity: 1;
    position: absolute;

    background-color: white;
    width: 80%;
   border-radius: 10px;
}

.text {
    top: 8%;
}

.text2 {
    top: 41%;
}

.text3 {
    top: 59%
}

.text4 {
    top: 85%;
}

.tools {
    width: 5%;
    height: 5%;
    justify-content: space-evenly;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    position: fixed;
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (max-width: 480px) { 
    .main-page {
        position: fixed;
        overflow-x: hidden;
        max-width: 100%;
        display: inline;
    }

    .text-description {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 150px;
    }

    .main-block {
        width: 100%;
        position: relative;
        padding: 10px 20px;
    }

    .titles {
        font-size: 20px;
        font-weight: bold;
    }

    .left-side {
        margin-left: 0;
        width: 100%;
    }

    .screenshot1 {
        width: 100%;
    }

    .cont-multipleimages {
        display: none;
    }
} 

@media (min-width: 481px) and (max-width: 767px) { 
    .main-block {
        max-width: 100%;
    }

    .text-description {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 150px;
    }

    .main-block {
        width: 100%;
        position: relative;
  
    }

    .titles {
        font-size: 20px;
        font-weight: bold;
    }

    .left-side {
        display: flex;
        margin-left: 0;
        width: 100%;
    }
} 
