.main-page {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.main-block {
    width: 60%;
    padding: 80px 20px;
}

.block1 {
    display: flex;
    flex-direction: column;
}

.left-side {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#kash_image {
    width: 90%;
    height: 80%;
}

#mobile-kash_image {
    max-width: 50%;
    vertical-align: middle;
}

#mobile-dash_image {
    width: 30%;
}

.screenshot1 {
    width: 90%;
}

.socialmedia {
    display: flex;
}

.content-block {
    /* max-width: 50%; */
    max-height: 90%;
    margin-left: 4%;
    padding: 5%;
}

.cont-multipleimages {
    display: flex;
}